body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('{{ url_for('static', filename='IMG-20250223-WA0019.jpg') }}');
}

header {
    background-color: #001f3d;
    padding: 5px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin-top: 20px;
}

.post {
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
    padding: 5px;
}

.post img {
    max-width: 100%;
}
